.poke_img_frame {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 8px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    z-index: 5;
    min-height: 150px;
}

.poke_img_frame::before {
    content: '';
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -25%;
    right: -25%;
    background-color: white;
    background-image: url('../img/pokemon-1536847_640.png');
    background-size: 30px 30px;
    background-repeat: space;
    z-index: 4;
    transform: rotate(15deg);
}

.poke_img_frame img {
    width: 150px;
    height: 150px;
    z-index: 5;
}

.poke_nametag {
    display: flex;
    background-color: silver;
    border-radius: 8px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.poke_show_frame {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 8px;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 10px;
}

.poke_show_frame_nav {
    display: flex;
    justify-content: space-evenly;
    background-color: lightslategray;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid black;
}

.poke_show_frame_nav_tab {
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    background-color: darkgrey;
    padding: 4px;
    border: 1px solid black;
    border-bottom: none;
}

.type_card {
    border-radius: 4px;
    border: 1px solid black;
    width: 125px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.activ {
    background-color: lightgray;
    transform: translateY(1px);
}

.poke_show_frame_content {
    padding: 4px;
    height: 100px;
}

.with_chard{
    display: flex;
    justify-content: space-between;
}

.pokemon_stat_chart {
    width: 100px;
    height: 100px;
}

.stat_card_tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 150px;
}

.stat_card_tab_holder {
    width: 150px;
}



.poke_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* height: 350px; */
    background-color: gold;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 4px;
}

.poke_card>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: start;



    background-color: brown;
    z-index: 2;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    box-sizing: border-box;
    padding-bottom: 10px;
}


.poke_card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.75), transparent, rgba(0, 0, 0, 0.35), transparent);
    animation: glow 3s infinite linear;
    transform: rotate(45deg);
}

@keyframes glow {
    0% {
        transform: translate(-100%, -100%) rotate(30deg);
    }

    100% {
        transform: translate(100%, 100%) rotate(30deg);
    }
}